@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    z-index: 99;
    backdrop-filter: blur(20px); /*For glass efect instead of background color*/
}

.logo{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    margin-right: auto;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    display: inline-block;
}

.torena{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

nav a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    margin-left: 40px;
    text-shadow: 2px 2px 5px rgba(10, 10, 10, 0.5);
    display: inline-block;
    transition: transform 0.3s ease;
}

nav a:hover{
    transform: scale(1.1);
}

.user-auth {
    margin-left: 40px;
}

.user-auth .login-btn-modal {
    height: 40px;
    padding: 0 35px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 18px;
    color: #ece8e8;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
}


.user-auth .login-btn-modal:hover {
    color: #fff;
    background:#423a3a ;
}

/*For background so it can cover fully the wallpaper the whole background*/
section {
    min-height: 100vh;
    background: url('vi.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 100px;
}

section h1{
    position: absolute;
    bottom: 4px;
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}


/*For registration*/

/*So it can have a transparent background of the modal too*/
.auth-modal{
    position: fixed;
    width: 420px;
    height: 440px;
    background: rgba(0,0,0, .3);
    border: 2px solid rgba(255,255,255, .3);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
    backdrop-filter: blur(9px);
    color: #fff;
    inset: 0;
    margin: auto;
    display: flex;
    align-items: center;
    overflow: hidden; /*to hide the Login or reg form if each one of them is clicked*/
    transform:scale(0); /*to make the */
    transition: height .2s ease, transform .5s ease; /*Transition animation para sa height slide ng reg form. Also if the login button from the navbar is clicked, it will pop up animated the log in form*/
}

/*To show the login form*/
.auth-modal.show{
    transform: scale(1);
}

/*Transition para sa regform*/
.auth-modal.slide {
    height: 520px;
}

.auth-modal .form-box{
    width: 100%;
    padding: 40px;
}


/*This will slide the login and reg container*/
.auth-modal .form-box.login,
.auth-modal.slide .form-box.register{
    transform: translateX(0);
    transition: transform .18s ease;
}

.auth-modal.slide .form-box.login {
    transform: translateX(-400px);
    transition: none;
}


.auth-modal .form-box.register{
    position: absolute;
    transform: translateX(400px); /*So the register form can move to the right*/
}

.form-box h2{
    font-size: 35px;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255,255,255, .3);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}


.input-box input::placeholder{
    color:#fff;
}


.btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border-radius: 40px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #222;
    font-weight: 500;
    cursor: pointer;
    margin-top: 15px;
}

.form-box p {
    font-size: 14.5px;
    text-align: center;
    margin: 25px 0 10px;
}


.form-box p a:hover {
    text-decoration: underline;
}

.auth-modal .close-btn-modal {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #fff;
    border:none;
    border-bottom-left-radius:20px;
    font-size: 25px;
    color: #222;
    cursor: pointer;
    z-index: 1;
}

/*For the Icon*/
.profile-box .avatar-circle{
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 25px;
    color: #222;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}


/*For the Dropdown*/
.profile-box .dropdown{
   position: absolute;
   top: 85px;
   right: 100px;
   padding: 10px;
   background: #fff;
   border-radius: 8px;
   display: flex;
   flex-direction: column;
   transform: translateY(-10px);
   opacity: 0;
   pointer-events: none;
   transition: .5s;
}

.profile-box.show .dropdown{
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}


.profile-box .dropdown a{
    padding: 6px 12px;
    border-radius: 4px;
    color: #222;
    text-decoration: none;
    font-weight: 500;
    margin: 2px 0;
    transition: .2s;
}